.pocket {
    width: 100%;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3) inset;
    background: #888;
    display: flex;
    border-radius: 3px;
    margin: auto;
}
.pocket-c1 {
    flex: 0 0 20%;
    max-width: 10vmin;
}
.pocket-c2 {
    position: relative;
    display: block;
    height: 0;
    padding-bottom: 100%;
    width: 100%;
}

.pocket piece[data-count="0"] {
    cursor: auto;
    opacity: 0.1;
}
.pocket piece {
    display: block;
    width: 100% !important;
    height: 100% !important;
    transition: all 150ms;
    z-index: 2;
    pointer-events: auto;
}

.pocket piece::after {
    content: attr(data-count);
    bottom: 0;
    right: 0;
    position: absolute;
    line-height: 0.9em;
    padding: 3px 0.3em;
    font-weight: bold;
    font-size: 1.1em;
    pointer-events: auto;
}
.pocket piece[data-count="0"]::after {
    content: none;
}
.pocket piece::after {
    background: #d64f00;
    color: #fff;
    text-shadow: 0 1px 1px black !important;
    box-shadow: 0 3px 4px rgba(0,0,0,0.15) inset;
}